<div class="container">
    <div *ngFor="let i of profile_data ;let j = index" class="container2">
        <div class="content">
            <img src="{{i.urlToImage}}" [routerLink]="['blog',j]" onerror="this.src='assets/img1.jpg'" width="260"
                height="250" class="img_align">

            <div class="content2">
                <h2 class="heading" [routerLink]="['blog',j]">{{i.title | slice : 0 :70}} </h2>
                <span *ngIf="i.description.length <= textLength">
                    <h3> {{i.description}}</h3>
                </span>
                <span *ngIf="i.description.length > textLength && !showMore">
                    <h3>{{i.description.substring(0,textLength)}}....</h3>
                    <span (click)="showMore=true"><a>Read More</a></span>
                </span>
                <span *ngIf="i.description.length > textLength && showMore">
                    <h3>{{i.description}}</h3>
                    <span (click)="showMore=false"><a>Read Less</a></span>
                </span>
                <h5>{{i.publishedAt | date :'short'}}</h5>
            </div>
            <div class="btn">
                <i class="fa fa-close" (click)="datadelete(j)" style="font-size:35px;color:red;margin-left:25px"></i>
            </div>
            <div class="edit">
                <div class="edit">
                    <a routerLink="/addblog"><i class="fa fa-edit " (click)="editData(j)"
                            style="font-size: 35px;"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>