<div class="foot">
    <div class="d1">
        <ul>
            <li><a href="#">
                    <b>
                        <p style="color: white;">Study Abroad</p>
                    </b>
                </a></li>
            <li><a href="#">
                    <h3 style="color: grey">How to choose your destination</h3>
                </a></li>
            <li><a href="#">
                    <h3 style="color: grey">Study abroad intakes</h3>
                </a></li>
            <li><a href="#">
                    <h3 style="color: grey">Guide for parents</h3>
                </a></li>
            <li><a href="#">
                    <h3 style="color: grey">The World University Rankings</h3>
                </a></li>
            <li><a href="#">
                    <h3 style="color: grey">QS World University Rankings</h3>
                </a></li>
            <li><a href="#">
                    <h3 style="color: grey">IDP Events</h3>
                </a></li>
            <li><a href="#">
                    <h3 style="color: grey">Institutions answers</h3>
                </a></li>
            <li><a href="#">
                    <h3 style="color: grey">Students Essential</h3>
                </a></li>
        </ul>
    </div>
    <div class="d1">
        <ul>
            <li><a href="#">
                    <b>
                        <p style="color: white;">Useful Links</p>
                    </b>
                </a></li>
            <li><a href="#">
                    <h3 style="color: grey">IDP Blog</h3>
                </a></li>
            <li><a href="#">
                    <h3 style="color: grey">Engineering courses</h3>
                </a></li>
            <li><a href="#">
                    <h3 style="color: grey">Health and medicine</h3>
                </a></li>
            <li><a href="#">
                    <h3 style="color: grey">Information Technology</h3>
                </a></li>
            <li><a href="#">
                    <h3 style="color: grey">Management Courses</h3>
                </a></li>
            <li><a href="#">
                    <h3 style="color: grey">Scholarships to study abroad</h3>
                </a></li>
            <li><a href="#">
                    <h3 style="color: grey">Student Reviews</h3>
                </a></li>
        </ul>
    </div>

    <div class="d1">
        <ul>
            <li><a href="#">
                    <b>
                        <p style="color: white;">IELTS</p>
                    </b>
                </a></li>
            <li><a href="#">
                    <h3 style="color: grey">What is IELTS?</h3>
                </a></li>
            <li><a href="#">
                    <h3 style="color: grey">Prepare for IELTS</h3>
                </a></li>
            <li><a href="#">
                    <h3 style="color: grey">Computer-delivered IELTS</h3>
                </a></li>
            <li><a href="#">
                    <h3 style="color: grey">Book my IELTS test</h3>
                </a></li>
            <li><a href="#">
                    <h3 style="color: grey">IELTS for UKVI</h3>
                </a></li>
            <li><a href="#">
                    <h3 style="color: grey">IELTS test dates</h3>
                </a></li>
            <li><a href="#">
                    <h3 style="color: grey">About IDP IELTS</h3>
                </a></li>

        </ul>
    </div>

    <div class="d1">
        <ul>
            <div class="d1">
                <li><a href="#"><b>
                            <p style="color: white;">Connect with IDP</p>
                        </b></a></li>
                <li><a href="#">
                        <h3 style="color: grey">IDP in the news</h3>
                    </a></li>
                <li><a href="#">
                        <h3 style="color: grey">About IDP</h3>
                    </a></li>
                <li><a href="#">
                        <h3 style="color: grey">Request an appointment</h3>
                    </a></li>
                <li><a href="#">
                        <h3 style="color: grey">Contact us</h3>
                    </a></li>
                <li><a href="#">
                        <h3 style="color: grey">About IDP Corporate</h3>
                    </a></li>
                <li><a href="#">
                        <h3 style="color: grey">IDP Career</h3>
                    </a></li>
                <li><a href="#">
                        <h3 style="color: grey">Customer Grievances</h3>
                    </a></li>
                <li><a href="#">
                        <h3 style="color: grey">Corporate responsibility</h3>
                    </a></li>
            </div>